#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

body > .bga-dice_die {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bga-dice_die {
  --roll-duration: 1000ms;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die .bga-dice_die-faces {
  transform-origin: center center;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  transform: rotate3d(1, 1, 1, -720deg);
  transition: transform var(--roll-duration) ease-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.bga-dice_die .bga-dice_die-faces .bga-dice_die-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.bga-dice_die4 {
  --third-size: calc(var(--size) / 3);
  transform: translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--third-size));
}

.bga-dice_die6 {
  --half-size: calc(var(--size) / 2);
  transform: translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="5"] {
  transform: rotate3d(-1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face {
  border-radius: var(--bga-dice_border-radius);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--half-size));
}

.bga-dice_die-stock {
  perspective: var(--perspective);
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_selectable-die:not(.bga-dice_disabled-die) {
  cursor: pointer;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_disabled-die {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.bga-dice_die-stock.bga-dice_line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_line-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_slot-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_manual-position-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_manual-position-stock .bga-dice_die {
  position: absolute;
}

.bga-dice_die-stock.bga-dice_void-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_void-stock .bga-dice_die {
  position: absolute;
}

#table-center-wrapper {
  min-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#table-center-wrapper.double-column {
  flex-direction: row;
}

#table-center-wrapper #table-improvements {
  align-self: self-start;
  margin-top: 213px;
  margin-right: 6px;
}
#table-center-wrapper #table-improvements .slot {
  width: 125px;
  height: 125px;
  border: 1px solid black;
}
#table-center-wrapper #board {
  position: relative;
  background-image: url("img/gametable.jpg");
  background-size: cover;
  width: 720px;
  height: 1036px;
  border-radius: 10px;
}
#table-center-wrapper #board #table-conforts {
  position: absolute;
  top: 850px;
  left: 234px;
}
#table-center-wrapper #board #table-travelers {
  position: absolute;
  top: 450px;
  left: 92px;
}
#table-center-wrapper #board #table-valleys {
  position: absolute;
  top: 24px;
  left: 44px;
}
#table-center-wrapper #board #river-dial {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(img/river-dial.png);
  background-size: cover;
  top: 265px;
  left: 514px;
}
#table-center-wrapper #board #river-dial[data-position="1"] {
  transform: rotate(0deg);
}
#table-center-wrapper #board #river-dial[data-position="2"] {
  transform: rotate(-60deg);
}
#table-center-wrapper #board #river-dial[data-position="3"] {
  transform: rotate(-120deg);
}
#table-center-wrapper #board #river-dial[data-position="4"] {
  transform: rotate(-180deg);
}
#table-center-wrapper #board #river-dial[data-position="5"] {
  transform: rotate(-240deg);
}
#table-center-wrapper #board #river-dial[data-position="6"] {
  transform: rotate(-300deg);
}

.player-table {
  min-width: 660px;
  width: 100%;
  padding: 10px 0 30px;
  border-radius: 8px;
  position: relative;
  border: 2px solid var(--player-color);
}
.player-table .name-wrapper {
  color: var(--player-color);
  position: relative;
  display: flex;
  padding: 5px 5px 20px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-weight: 600;
}
.player-table .title {
  color: var(--color);
  padding: 3px 10px;
  margin: 0;
  top: -15px;
  left: 20px;
}
.player-table .player-table-board {
  margin: 0 auto;
  background-size: 600px 331px;
  width: 600px;
  height: 331px;
  border-radius: 10px;
  position: relative;
}
.player-table .player-table-board .player-table-dice {
  position: absolute;
  left: 450px;
  top: 10px;
}
.player-table.player-color-yellow .player-table-board {
  background-image: url("img/board_yellow.jpg");
}
.player-table.player-color-green .player-table-board {
  background-image: url("img/board_green.jpg");
}
.player-table.player-color-red .player-table-board {
  background-image: url("img/board_red.jpg");
}
.player-table.player-color-gray .player-table-board {
  background-image: url("img/board_gray.jpg");
}
.player-table.player-color-purple .player-table-board {
  background-image: url("img/board_purple.jpg");
}

.card.confort {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 154px;
  border-radius: 5px;
}
.card.confort:hover {
  scale: 1.3;
  z-index: 10;
}
.card.confort.background_1 .front {
  background-image: url("img/confort_front_1.jpg");
}
.card.confort.background_2 .front {
  background-image: url("img/confort_front_1.jpg");
}
.card.confort .card-sides .front {
  background-size: 660px 924px;
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.confort .card-sides .front[data-type="1"][data-pos="1"] {
  background-position: 0% 0%;
}
.card.confort .card-sides .front[data-type="1"][data-pos="2"] {
  background-position: -100% 0%;
}
.card.confort .card-sides .front[data-type="1"][data-pos="3"] {
  background-position: -200% 0%;
}
.card.confort .card-sides .front[data-type="2"][data-pos="1"] {
  background-position: -300% 0%;
}
.card.confort .card-sides .front[data-type="2"][data-pos="2"] {
  background-position: -400% 0%;
}
.card.confort .card-sides .front[data-type="2"][data-pos="3"] {
  background-position: -500% 0%;
}
.card.confort .card-sides .front[data-type="3"][data-pos="1"] {
  background-position: -600% 0%;
}
.card.confort .card-sides .front[data-type="3"][data-pos="2"] {
  background-position: -700% 0%;
}
.card.confort .card-sides .front[data-type="3"][data-pos="3"] {
  background-position: -800% 0%;
}
.card.confort .card-sides .front[data-type="4"][data-pos="1"] {
  background-position: 0% -100%;
}
.card.confort .card-sides .front[data-type="4"][data-pos="2"] {
  background-position: -100% -100%;
}
.card.confort .card-sides .front[data-type="4"][data-pos="3"] {
  background-position: -200% -100%;
}
.card.confort .card-sides .front[data-type="5"][data-pos="1"] {
  background-position: -300% -100%;
}
.card.confort .card-sides .front[data-type="5"][data-pos="2"] {
  background-position: -400% -100%;
}
.card.confort .card-sides .front[data-type="5"][data-pos="3"] {
  background-position: -500% -100%;
}
.card.confort .card-sides .front[data-type="6"][data-pos="1"] {
  background-position: -600% -100%;
}
.card.confort .card-sides .front[data-type="6"][data-pos="2"] {
  background-position: -700% -100%;
}
.card.confort .card-sides .front[data-type="6"][data-pos="3"] {
  background-position: -800% -100%;
}
.card.confort .card-sides .front[data-type="7"][data-pos="1"] {
  background-position: 0% -200%;
}
.card.confort .card-sides .front[data-type="7"][data-pos="2"] {
  background-position: -100% -200%;
}
.card.confort .card-sides .front[data-type="7"][data-pos="3"] {
  background-position: -200% -200%;
}
.card.confort .card-sides .front[data-type="8"][data-pos="1"] {
  background-position: -300% -200%;
}
.card.confort .card-sides .front[data-type="8"][data-pos="2"] {
  background-position: -400% -200%;
}
.card.confort .card-sides .front[data-type="8"][data-pos="3"] {
  background-position: -500% -200%;
}
.card.confort .card-sides .front[data-type="9"][data-pos="1"] {
  background-position: -600% -200%;
}
.card.confort .card-sides .front[data-type="9"][data-pos="2"] {
  background-position: -700% -200%;
}
.card.confort .card-sides .front[data-type="9"][data-pos="3"] {
  background-position: -800% -200%;
}
.card.confort .card-sides .front[data-type="10"][data-pos="1"] {
  background-position: 0% -300%;
}
.card.confort .card-sides .front[data-type="10"][data-pos="2"] {
  background-position: -100% -300%;
}
.card.confort .card-sides .front[data-type="10"][data-pos="3"] {
  background-position: -200% -300%;
}
.card.confort .card-sides .front[data-type="11"][data-pos="1"] {
  background-position: -300% -300%;
}
.card.confort .card-sides .front[data-type="11"][data-pos="2"] {
  background-position: -400% -300%;
}
.card.confort .card-sides .front[data-type="11"][data-pos="3"] {
  background-position: -500% -300%;
}
.card.confort .card-sides .front[data-type="12"][data-pos="1"] {
  background-position: -600% -300%;
}
.card.confort .card-sides .front[data-type="12"][data-pos="2"] {
  background-position: -700% -300%;
}
.card.confort .card-sides .front[data-type="12"][data-pos="3"] {
  background-position: -800% -300%;
}
.card.confort .card-sides .front[data-type="13"][data-pos="1"] {
  background-position: 0% -400%;
}
.card.confort .card-sides .front[data-type="13"][data-pos="2"] {
  background-position: -100% -400%;
}
.card.confort .card-sides .front[data-type="13"][data-pos="3"] {
  background-position: -200% -400%;
}
.card.confort .card-sides .front[data-type="14"][data-pos="1"] {
  background-position: -300% -400%;
}
.card.confort .card-sides .front[data-type="14"][data-pos="2"] {
  background-position: -400% -400%;
}
.card.confort .card-sides .front[data-type="14"][data-pos="3"] {
  background-position: -500% -400%;
}
.card.confort .card-sides .front[data-type="15"][data-pos="1"] {
  background-position: -600% -400%;
}
.card.confort .card-sides .front[data-type="15"][data-pos="2"] {
  background-position: -700% -400%;
}
.card.confort .card-sides .front[data-type="15"][data-pos="3"] {
  background-position: -800% -400%;
}
.card.confort .card-sides .front[data-type="16"][data-pos="1"] {
  background-position: 0% -500%;
}
.card.confort .card-sides .front[data-type="16"][data-pos="2"] {
  background-position: -100% -500%;
}
.card.confort .card-sides .front[data-type="16"][data-pos="3"] {
  background-position: -200% -500%;
}
.card.confort .card-sides .front[data-type="17"][data-pos="1"] {
  background-position: -300% -500%;
}
.card.confort .card-sides .front[data-type="17"][data-pos="2"] {
  background-position: -400% -500%;
}
.card.confort .card-sides .front[data-type="17"][data-pos="3"] {
  background-position: -500% -500%;
}
.card.confort .card-sides .front[data-type="18"][data-pos="1"] {
  background-position: -600% -500%;
}
.card.confort .card-sides .front[data-type="18"][data-pos="2"] {
  background-position: -700% -500%;
}
.card.confort .card-sides .front[data-type="18"][data-pos="3"] {
  background-position: -800% -500%;
}
.card.confort .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.card.improvement {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 5px;
}
.card.improvement:hover {
  scale: 1.3;
  z-index: 10;
}
.card.improvement .card-sides .front {
  background-image: url("img/improvements.jpg");
  background-size: 750px 750px;
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.improvement .card-sides .front[data-type="1"][data-pos="1"] {
  background-position: 0% 0%;
}
.card.improvement .card-sides .front[data-type="1"][data-pos="2"] {
  background-position: -100% 0%;
}
.card.improvement .card-sides .front[data-type="2"][data-pos="1"] {
  background-position: -200% 0%;
}
.card.improvement .card-sides .front[data-type="2"][data-pos="2"] {
  background-position: -300% 0%;
}
.card.improvement .card-sides .front[data-type="3"][data-pos="1"] {
  background-position: -400% 0%;
}
.card.improvement .card-sides .front[data-type="3"][data-pos="2"] {
  background-position: -500% 0%;
}
.card.improvement .card-sides .front[data-type="4"][data-pos="1"] {
  background-position: 0% -100%;
}
.card.improvement .card-sides .front[data-type="4"][data-pos="2"] {
  background-position: -100% -100%;
}
.card.improvement .card-sides .front[data-type="5"][data-pos="1"] {
  background-position: -200% -100%;
}
.card.improvement .card-sides .front[data-type="5"][data-pos="2"] {
  background-position: -300% -100%;
}
.card.improvement .card-sides .front[data-type="6"][data-pos="1"] {
  background-position: -400% -100%;
}
.card.improvement .card-sides .front[data-type="6"][data-pos="2"] {
  background-position: -500% -100%;
}
.card.improvement .card-sides .front[data-type="7"][data-pos="1"] {
  background-position: 0% -200%;
}
.card.improvement .card-sides .front[data-type="7"][data-pos="2"] {
  background-position: -100% -200%;
}
.card.improvement .card-sides .front[data-type="8"][data-pos="1"] {
  background-position: -200% -200%;
}
.card.improvement .card-sides .front[data-type="8"][data-pos="2"] {
  background-position: -300% -200%;
}
.card.improvement .card-sides .front[data-type="9"][data-pos="1"] {
  background-position: -400% -200%;
}
.card.improvement .card-sides .front[data-type="9"][data-pos="2"] {
  background-position: -500% -200%;
}
.card.improvement .card-sides .front[data-type="10"][data-pos="1"] {
  background-position: 0% -300%;
}
.card.improvement .card-sides .front[data-type="10"][data-pos="2"] {
  background-position: -100% -300%;
}
.card.improvement .card-sides .front[data-type="11"][data-pos="1"] {
  background-position: -200% -300%;
}
.card.improvement .card-sides .front[data-type="11"][data-pos="2"] {
  background-position: -300% -300%;
}
.card.improvement .card-sides .front[data-type="12"][data-pos="1"] {
  background-position: -400% -300%;
}
.card.improvement .card-sides .front[data-type="12"][data-pos="2"] {
  background-position: -500% -300%;
}
.card.improvement .card-sides .front[data-type="13"][data-pos="1"] {
  background-position: 0% -400%;
}
.card.improvement .card-sides .front[data-type="13"][data-pos="2"] {
  background-position: -100% -400%;
}
.card.improvement .card-sides .front[data-type="14"][data-pos="1"] {
  background-position: -200% -400%;
}
.card.improvement .card-sides .front[data-type="14"][data-pos="2"] {
  background-position: -300% -400%;
}
.card.improvement .card-sides .front[data-type="15"][data-pos="1"] {
  background-position: -400% -400%;
}
.card.improvement .card-sides .front[data-type="15"][data-pos="2"] {
  background-position: -500% -400%;
}
.card.improvement .card-sides .front[data-type="16"][data-pos="1"] {
  background-position: 0% -500%;
}
.card.improvement .card-sides .front[data-type="16"][data-pos="2"] {
  background-position: -100% -500%;
}
.card.improvement .card-sides .front[data-type="17"][data-pos="1"] {
  background-position: -200% -500%;
}
.card.improvement .card-sides .front[data-type="17"][data-pos="2"] {
  background-position: -300% -500%;
}
.card.improvement .card-sides .front[data-type="18"][data-pos="1"] {
  background-position: -400% -500%;
}
.card.improvement .card-sides .front[data-type="18"][data-pos="2"] {
  background-position: -500% -500%;
}
.card.improvement .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.card.traveler {
  display: inline-block;
  position: relative;
  width: 212px;
  height: 142px;
  border-radius: 5px;
}
.card.traveler:hover {
  scale: 1.3;
  z-index: 10;
}
.card.traveler .card-sides .front {
  background-image: url("img/travelers.jpg");
  background-size: 1060px 426px;
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.traveler .card-sides .front[data-type="1"] {
  background-position: 0% 0%;
}
.card.traveler .card-sides .front[data-type="2"] {
  background-position: -100% 0%;
}
.card.traveler .card-sides .front[data-type="3"] {
  background-position: -200% 0%;
}
.card.traveler .card-sides .front[data-type="4"] {
  background-position: -300% 0%;
}
.card.traveler .card-sides .front[data-type="5"] {
  background-position: -400% 0%;
}
.card.traveler .card-sides .front[data-type="6"] {
  background-position: 0% -100%;
}
.card.traveler .card-sides .front[data-type="7"] {
  background-position: -100% -100%;
}
.card.traveler .card-sides .front[data-type="8"] {
  background-position: -200% -100%;
}
.card.traveler .card-sides .front[data-type="9"] {
  background-position: -300% -100%;
}
.card.traveler .card-sides .front[data-type="10"] {
  background-position: -400% -100%;
}
.card.traveler .card-sides .front[data-type="11"] {
  background-position: 0% -200%;
}
.card.traveler .card-sides .front[data-type="12"] {
  background-position: -100% -200%;
}
.card.traveler .card-sides .front[data-type="13"] {
  background-position: -200% -200%;
}
.card.traveler .card-sides .front[data-type="14"] {
  background-position: -300% -200%;
}
.card.traveler .card-sides .front[data-type="15"] {
  background-position: -400% -200%;
}
.card.traveler .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.card.valley {
  display: inline-block;
  position: relative;
  width: 310px;
  height: 156px;
  border-radius: 5px;
}
.card.valley.forest .front {
  background-image: url("img/forest.jpg");
}
.card.valley.meadow .front {
  background-image: url("img/meadow.jpg");
}
.card.valley .card-sides .front {
  background-size: 1240px 312px;
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.valley .card-sides .front[data-type="1"] {
  background-position: 0% 0%;
}
.card.valley .card-sides .front[data-type="2"] {
  background-position: -100% 0%;
}
.card.valley .card-sides .front[data-type="3"] {
  background-position: -200% 0%;
}
.card.valley .card-sides .front[data-type="4"] {
  background-position: -300% 0%;
}
.card.valley .card-sides .front[data-type="5"] {
  background-position: -400% 0%;
}
.card.valley .card-sides .front[data-type="6"] {
  background-position: 0% -100%;
}
.card.valley .card-sides .front[data-type="7"] {
  background-position: -100% -100%;
}
.card.valley .card-sides .front[data-type="8"] {
  background-position: -200% -100%;
}
.card.valley .card-sides .front[data-type="9"] {
  background-position: -300% -100%;
}
.card.valley .card-sides .front[data-type="10"] {
  background-position: -400% -100%;
}
.card.valley .card-sides .front[data-type="11"] {
  background-position: 0% -200%;
}
.card.valley .card-sides .front[data-type="12"] {
  background-position: -100% -200%;
}
.card.valley .card-sides .front[data-type="13"] {
  background-position: -200% -200%;
}
.card.valley .card-sides .front[data-type="14"] {
  background-position: -300% -200%;
}
.card.valley .card-sides .front[data-type="15"] {
  background-position: -400% -200%;
}
.card.valley .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.bga-dice_die-face {
  background-size: 300% 200%;
}

.bga-dice_die .bga-dice_die-face[data-face="1"] {
  background-position: 0% -92%;
}

.bga-dice_die .bga-dice_die-face[data-face="2"] {
  background-position: 0% 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="3"] {
  background-position: -100% -100%;
}

.bga-dice_die .bga-dice_die-face[data-face="4"] {
  background-position: -100% 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="5"] {
  background-position: -200% 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="6"] {
  background-position: -200% -100%;
}

.colored-die[data-color=yellow] .bga-dice_die-face {
  background-image: url("img/dice_yellow.jpg");
}

.colored-die[data-color=green] .bga-dice_die-face {
  background-image: url("img/dice_green.jpg");
}

.colored-die[data-color=red] .bga-dice_die-face {
  background-image: url("img/dice_red.jpg");
}

.colored-die[data-color=gray] .bga-dice_die-face {
  background-image: url("img/dice_gray.jpg");
}

.colored-die[data-color=purple] .bga-dice_die-face {
  background-image: url("img/dice_purple.jpg");
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(1, 1, 1, 0deg) rotate(90deg);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(1, 1, 1, 0deg) translateZ(var(--half-size)) rotate(90deg);
}

.card.house {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.card.house .card-sides .front {
  background-image: url("img/houses.png");
  background-size: 600px 60px;
}
.card.house .card-sides .front[data-type=yellow] {
  background-position-x: -600%;
}
.card.house .card-sides .front[data-type=green] {
  background-position-x: -100%;
}
.card.house .card-sides .front[data-type=gray] {
  background-position-x: -400%;
}
.card.house .card-sides .front[data-type=red] {
  background-position-x: -700%;
}
.card.house .card-sides .front[data-type=purple] {
  background-position-x: -800%;
}
.card.house .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

#game_play_area #bga-zoom-wrapper {
  padding-top: 50px;
}

#table {
  display: flex;
  justify-content: center;
}

#bga-zoom-wrapper {
  padding: 20px 0;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
#tables-and-center.double-column {
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
#tables-and-center.double-column > div {
  flex: 1;
}
#tables-and-center.double-column #tables {
  flex-direction: row;
}

.bgabutton.bgabutton_disabled {
  background: #e5e5ef;
  border: 1px solid #9090af;
  box-shadow: none;
  color: #9090af;
  text-shadow: none;
}

.title {
  position: absolute;
  margin: -36px 0 0 0;
  border: 3px solid var(--color);
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: 600;
  background-color: white;
}
