#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

body > .bga-dice_die {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bga-dice_die {
  --roll-duration: 1000ms;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die .bga-dice_die-faces {
  transform-origin: center center;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  transform: rotate3d(1, 1, 1, -720deg);
  transition: transform var(--roll-duration) ease-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.bga-dice_die .bga-dice_die-faces .bga-dice_die-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.bga-dice_die4 {
  --third-size: calc(var(--size) / 3);
  transform: translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--third-size));
}

.bga-dice_die6 {
  --half-size: calc(var(--size) / 2);
  transform: translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="5"] {
  transform: rotate3d(-1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face {
  border-radius: var(--bga-dice_border-radius);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--half-size));
}

.bga-dice_die-stock {
  perspective: var(--perspective);
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_selectable-die:not(.bga-dice_disabled-die) {
  cursor: pointer;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_disabled-die {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.bga-dice_die-stock.bga-dice_line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_line-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_slot-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_manual-position-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_manual-position-stock .bga-dice_die {
  position: absolute;
}

.bga-dice_die-stock.bga-dice_void-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_void-stock .bga-dice_die {
  position: absolute;
}

#table-center-wrapper {
  display: grid;
  grid-template-areas: "empty glade" "ladder board";
  padding: 0 10px;
}
#table-center-wrapper #table-improvements {
  grid-area: ladder;
  align-self: self-start;
  margin-top: 213px;
  margin-right: 6px;
}
#table-center-wrapper #table-improvements .slot {
  width: 125px;
  height: 125px;
  border: 1px solid black;
}
#table-center-wrapper #glade {
  grid-area: glade;
  padding-bottom: 20px;
}
#table-center-wrapper #glade:empty {
  padding-bottom: 0;
}
#table-center-wrapper #board {
  grid-area: board;
  position: relative;
  background-image: url("img/gametable.jpg");
  background-size: cover;
  width: 720px;
  height: 1036px;
  border-radius: 10px;
  margin-bottom: 170px;
}
#table-center-wrapper #board #table-conforts {
  position: absolute;
  top: 850px;
  left: 234px;
}
#table-center-wrapper #board #table-conforts .slot {
  min-width: 110px;
}
#table-center-wrapper #board #table-travelers {
  position: absolute;
  top: 450px;
  left: 92px;
}
#table-center-wrapper #board #table-valleys {
  position: absolute;
  top: 24px;
  left: 44px;
}
#table-center-wrapper #board #worker-locations {
  position: relative;
}
#table-center-wrapper #board #worker-locations.has-selected-location .slot.selectable.selected {
  animation: none !important;
}
#table-center-wrapper #board #worker-locations .slot {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#table-center-wrapper #board #worker-locations .slot.selectable {
  animation: pulseSelectable 1s infinite alternate;
}
#table-center-wrapper #board #worker-locations .slot.selected {
  box-shadow: 0 0 5px 5px #00ffff;
}
#table-center-wrapper #board #worker-locations .slot .card.worker {
  zoom: 0.75;
}
#table-center-wrapper #board #worker-locations .slot .card.worker:nth-child(3), #table-center-wrapper #board #worker-locations .slot .card.worker:nth-child(4), #table-center-wrapper #board #worker-locations .slot .card.worker:nth-child(5) {
  margin-top: -35px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="1"] {
  top: 98px;
  left: 85px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="2"] {
  top: 98px;
  left: 241px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="3"] {
  top: 98px;
  left: 427px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="4"] {
  top: 98px;
  left: 583px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="5"] {
  top: 202px;
  left: 592px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="6"] {
  top: 345px;
  left: 624px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="7"] {
  top: 291px;
  left: 438px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="8"] {
  top: 472px;
  left: 462px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="9"] {
  top: 576px;
  left: 279px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="10"] {
  top: 802px;
  left: 83px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="11"] {
  top: 749px;
  left: 295px;
}
#table-center-wrapper #board #worker-locations [data-slot-id="12"] {
  top: 749px;
  left: 457px;
}
#table-center-wrapper #board #dice-locations {
  position: relative;
}
#table-center-wrapper #board #dice-locations .slot {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#table-center-wrapper #board #dice-locations .slot .lesson-wrapper {
  margin-top: 5px;
  display: inline-flex;
}
#table-center-wrapper #board #dice-locations .slot .lesson-wrapper .resource-icon:not(:first-child) {
  margin-left: -16px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="1"] {
  top: 54px;
  left: 55px;
  width: 130px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="2"] {
  top: 54px;
  left: 211px;
  width: 130px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="3"] {
  top: 54px;
  left: 397px;
  width: 130px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="4"] {
  top: 54px;
  left: 553px;
  width: 130px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="5"] {
  top: 220px;
  left: 664px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="6"] {
  top: 400px;
  left: 590px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="7"] {
  top: 306px;
  left: 392px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="8"] {
  top: 479px;
  left: 416px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="9"] {
  top: 590px;
  left: 354px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="10"] {
  top: 755px;
  left: 97px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="11"] {
  top: 702px;
  left: 310px;
}
#table-center-wrapper #board #dice-locations [data-slot-id="12"] {
  top: 702px;
  left: 472px;
}
#table-center-wrapper #board #hill-dice {
  position: absolute;
  top: 227px;
  left: 228px;
  display: flex;
  flex-wrap: wrap;
  width: 76px;
}
#table-center-wrapper #board #river-dial {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(img/river-dial.png);
  background-size: cover;
  top: 265px;
  left: 514px;
  box-shadow: 0 0 5px 4px #fff;
  border-radius: 50%;
}
#table-center-wrapper #board #river-dial[data-position="1"] {
  transform: rotate(-240deg);
}
#table-center-wrapper #board #river-dial[data-position="2"] {
  transform: rotate(-300deg);
}
#table-center-wrapper #board #river-dial[data-position="3"] {
  transform: rotate(-360deg);
}
#table-center-wrapper #board #river-dial[data-position="4"] {
  transform: rotate(-420deg);
}
#table-center-wrapper #board #river-dial[data-position="5"] {
  transform: rotate(-480deg);
}
#table-center-wrapper #board #river-dial[data-position="6"] {
  transform: rotate(-540deg);
}
#table-center-wrapper #board #decks {
  display: flex;
  justify-content: space-between;
  top: 1046px;
  position: absolute;
  right: 0;
  gap: 20px;
  width: 720px;
}
#table-center-wrapper #board #decks > div {
  display: flex;
  gap: 20px;
}
#table-center-wrapper #board #decks .deck[data-empty=true] {
  border: 1px solid black;
  border-radius: 5px;
}
#table-center-wrapper #board #decks .deck .bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 25px;
}
#table-center-wrapper #board #decks #discard-conforts .card:nth-child(1) {
  z-index: 1;
}
#table-center-wrapper .bga-dice_die.bga-dice_die6.colored-die {
  zoom: 0.8;
}

.gamestate_placement .slot.selectable {
  animation: none !important;
}
.gamestate_placement .slot.selectable:hover {
  animation: pulseSelectable 1s infinite alternate !important;
}
.gamestate_placement .slot.selected {
  animation: none !important;
  box-shadow: 0 0 5px 5px orange !important;
}
.gamestate_placement #worker-locations .slot .card.worker {
  zoom: unset !important;
}

.resource-icon {
  height: 35px;
  background-image: url("img/icons.png");
  background-size: auto 35px;
}
.resource-icon[data-type=wood] {
  width: 25px;
  background-position-x: -25px;
}
.resource-icon[data-type=stone] {
  width: 31px;
  background-position-x: -173px;
}
.resource-icon[data-type=fruit] {
  width: 25px;
  background-position-x: -54px;
}
.resource-icon[data-type=mushroom] {
  width: 27px;
  background-position-x: -82px;
}
.resource-icon[data-type=yarn] {
  width: 28px;
  background-position-x: -111px;
}
.resource-icon[data-type=grain] {
  width: 23px;
}
.resource-icon[data-type=lesson] {
  height: 29px;
  width: 29px;
  background-position: -207px -3px;
  border-radius: 50%;
  rotate: 45deg;
}
.resource-icon[data-type=lesson-plus] {
  height: 29px;
  width: 29px;
  background-position: -207px -3px;
  border-radius: 50%;
}
.resource-icon[data-type=lesson-minus] {
  height: 29px;
  width: 29px;
  background-position: -242px -3px;
  border-radius: 50%;
}
.resource-icon[data-type=coin] {
  height: 28px;
  width: 30px;
  background-position-x: -141px;
}
.resource-icon[data-type=story] {
  height: 28px;
  width: 37px;
  background-position-x: -400px;
  background-position-y: -5px;
  background-size: auto 50px;
}

.icons.counters {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.icons.counters .wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: rgba(235, 255, 235, 0.45);
  padding: 0px 4px;
  border-radius: 10px;
}
.icons.counters .wrapper .counter {
  font-size: 21px;
  font-weight: 700;
}
.icons.counters .row {
  flex-basis: 100%;
  padding-top: 10px;
}
.icons.counters .first-player-marker {
  background-image: url("img/the_worm.png");
  background-size: cover;
  height: 50px;
  width: 47px;
}

.player-table {
  width: 860px;
  padding: 10px 0 30px;
  border-radius: 8px;
  border: 4px solid var(--player-color);
  background-color: hsla(0, 0%, 100%, 0.4);
  position: relative;
}
.player-table .name-wrapper {
  background: white;
  color: var(--player-color);
  left: 20px;
  top: -15px;
  border: 4px solid var(--player-color);
  border-radius: 5px;
  font-weight: 600;
  padding: 3px 10px;
  position: absolute;
}
.player-table .cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.player-table .cols .col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.player-table .title {
  color: var(--color);
  padding: 3px 10px;
  margin: 0;
  top: -15px;
  left: 20px;
}
.player-table .player-table-board {
  margin: 10px auto 20px;
  background-size: 400px 220px;
  width: 400px;
  height: 220px;
  border-radius: 10px;
  position: relative;
}
.player-table .player-table-board .player-table-dice {
  position: absolute;
  left: 300px;
  top: 8px;
}
.player-table .player-table-board .player-table-cottage {
  position: absolute;
  left: 11px;
  top: 13px;
}
.player-table .player-table-board .player-table-worker {
  position: absolute;
  top: 167px;
  left: 6px;
}
.player-table .player-table-improvement, .player-table .player-table-confort {
  max-width: 515px;
}
.player-table .icons.counters .wrapper {
  zoom: 1.5;
}
.player-table.player-color-yellow .player-table-board {
  background-image: url("img/board_yellow.jpg");
}
.player-table.player-color-green .player-table-board {
  background-image: url("img/board_green.jpg");
}
.player-table.player-color-red .player-table-board {
  background-image: url("img/board_red.jpg");
}
.player-table.player-color-gray .player-table-board {
  background-image: url("img/board_gray.jpg");
}
.player-table.player-color-purple .player-table-board {
  background-image: url("img/board_purple.jpg");
}

.card.confort {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 154px;
  border-radius: 5px;
}
.card.confort .card-sides .back {
  background-image: url("img/confort_back.jpg");
  background-size: 110px 154px;
  border-radius: 5px;
}
.card.confort .card-sides .front {
  border-radius: 5px;
  background-size: 660px 924px;
}
.card.confort .card-sides .front.background_1 {
  background-image: url("img/confort_front_1.jpg");
}
.card.confort .card-sides .front.background_2 {
  background-image: url("img/confort_front_2.jpg");
}
.card.confort .card-sides .front[data-type="1"][data-pos="1"] {
  background-position: 0% 0%;
}
.card.confort .card-sides .front[data-type="1"][data-pos="2"] {
  background-position: -100% 0%;
}
.card.confort .card-sides .front[data-type="1"][data-pos="3"] {
  background-position: -200% 0%;
}
.card.confort .card-sides .front[data-type="2"][data-pos="1"] {
  background-position: -300% 0%;
}
.card.confort .card-sides .front[data-type="2"][data-pos="2"] {
  background-position: -400% 0%;
}
.card.confort .card-sides .front[data-type="2"][data-pos="3"] {
  background-position: -500% 0%;
}
.card.confort .card-sides .front[data-type="3"][data-pos="1"] {
  background-position: 0% -100%;
}
.card.confort .card-sides .front[data-type="3"][data-pos="2"] {
  background-position: -100% -100%;
}
.card.confort .card-sides .front[data-type="3"][data-pos="3"] {
  background-position: -200% -100%;
}
.card.confort .card-sides .front[data-type="4"][data-pos="1"] {
  background-position: -300% -100%;
}
.card.confort .card-sides .front[data-type="4"][data-pos="2"] {
  background-position: -400% -100%;
}
.card.confort .card-sides .front[data-type="4"][data-pos="3"] {
  background-position: -500% -100%;
}
.card.confort .card-sides .front[data-type="5"][data-pos="1"] {
  background-position: 0% -200%;
}
.card.confort .card-sides .front[data-type="5"][data-pos="2"] {
  background-position: -100% -200%;
}
.card.confort .card-sides .front[data-type="5"][data-pos="3"] {
  background-position: -200% -200%;
}
.card.confort .card-sides .front[data-type="6"][data-pos="1"] {
  background-position: -300% -200%;
}
.card.confort .card-sides .front[data-type="6"][data-pos="2"] {
  background-position: -400% -200%;
}
.card.confort .card-sides .front[data-type="6"][data-pos="3"] {
  background-position: -500% -200%;
}
.card.confort .card-sides .front[data-type="7"][data-pos="1"] {
  background-position: 0% -300%;
}
.card.confort .card-sides .front[data-type="7"][data-pos="2"] {
  background-position: -100% -300%;
}
.card.confort .card-sides .front[data-type="7"][data-pos="3"] {
  background-position: -200% -300%;
}
.card.confort .card-sides .front[data-type="8"][data-pos="1"] {
  background-position: -300% -300%;
}
.card.confort .card-sides .front[data-type="8"][data-pos="2"] {
  background-position: -400% -300%;
}
.card.confort .card-sides .front[data-type="8"][data-pos="3"] {
  background-position: -500% -300%;
}
.card.confort .card-sides .front[data-type="9"][data-pos="1"] {
  background-position: 0% -400%;
}
.card.confort .card-sides .front[data-type="9"][data-pos="2"] {
  background-position: -100% -400%;
}
.card.confort .card-sides .front[data-type="9"][data-pos="3"] {
  background-position: -200% -400%;
}
.card.confort .card-sides .front[data-type="10"][data-pos="1"] {
  background-position: -300% -400%;
}
.card.confort .card-sides .front[data-type="10"][data-pos="2"] {
  background-position: -400% -400%;
}
.card.confort .card-sides .front[data-type="10"][data-pos="3"] {
  background-position: -500% -400%;
}
.card.confort .card-sides .front[data-type="11"][data-pos="1"] {
  background-position: 0% -500%;
}
.card.confort .card-sides .front[data-type="11"][data-pos="2"] {
  background-position: -100% -500%;
}
.card.confort .card-sides .front[data-type="11"][data-pos="3"] {
  background-position: -200% -500%;
}
.card.confort .card-sides .front[data-type="12"][data-pos="1"] {
  background-position: -300% -500%;
}
.card.confort .card-sides .front[data-type="12"][data-pos="2"] {
  background-position: -400% -500%;
}
.card.confort .card-sides .front[data-type="12"][data-pos="3"] {
  background-position: -500% -500%;
}
.card.confort .card-sides .front[data-type="13"][data-pos="1"] {
  background-position: 0% 0%;
}
.card.confort .card-sides .front[data-type="13"][data-pos="2"] {
  background-position: -100% 0%;
}
.card.confort .card-sides .front[data-type="13"][data-pos="3"] {
  background-position: -200% 0%;
}
.card.confort .card-sides .front[data-type="14"][data-pos="1"] {
  background-position: -300% 0%;
}
.card.confort .card-sides .front[data-type="14"][data-pos="2"] {
  background-position: -400% 0%;
}
.card.confort .card-sides .front[data-type="14"][data-pos="3"] {
  background-position: -500% 0%;
}
.card.confort .card-sides .front[data-type="15"][data-pos="1"] {
  background-position: 0% -100%;
}
.card.confort .card-sides .front[data-type="15"][data-pos="2"] {
  background-position: -100% -100%;
}
.card.confort .card-sides .front[data-type="15"][data-pos="3"] {
  background-position: -200% -100%;
}
.card.confort .card-sides .front[data-type="16"][data-pos="1"] {
  background-position: -300% -100%;
}
.card.confort .card-sides .front[data-type="16"][data-pos="2"] {
  background-position: -400% -100%;
}
.card.confort .card-sides .front[data-type="16"][data-pos="3"] {
  background-position: -500% -100%;
}
.card.confort .card-sides .front[data-type="17"][data-pos="1"] {
  background-position: 0% -200%;
}
.card.confort .card-sides .front[data-type="17"][data-pos="2"] {
  background-position: -100% -200%;
}
.card.confort .card-sides .front[data-type="17"][data-pos="3"] {
  background-position: -200% -200%;
}
.card.confort .card-sides .front[data-type="18"][data-pos="1"] {
  background-position: -300% -200%;
}
.card.confort .card-sides .front[data-type="18"][data-pos="2"] {
  background-position: -400% -200%;
}
.card.confort .card-sides .front[data-type="18"][data-pos="3"] {
  background-position: -500% -200%;
}
.card.confort .card-sides .front[data-type="19"][data-pos="1"] {
  background-position: 0% -300%;
}
.card.confort .card-sides .front[data-type="19"][data-pos="2"] {
  background-position: -100% -300%;
}
.card.confort .card-sides .front[data-type="19"][data-pos="3"] {
  background-position: -200% -300%;
}
.card.confort .card-sides .front[data-type="20"][data-pos="1"] {
  background-position: -300% -300%;
}
.card.confort .card-sides .front[data-type="20"][data-pos="2"] {
  background-position: -400% -300%;
}
.card.confort .card-sides .front[data-type="20"][data-pos="3"] {
  background-position: -500% -300%;
}
.card.confort .card-sides .front[data-type="21"][data-pos="1"] {
  background-position: 0% -400%;
}
.card.confort .card-sides .front[data-type="21"][data-pos="2"] {
  background-position: -100% -400%;
}
.card.confort .card-sides .front[data-type="21"][data-pos="3"] {
  background-position: -200% -400%;
}
.card.confort .card-sides .front[data-type="22"][data-pos="1"] {
  background-position: -300% -400%;
}
.card.confort .card-sides .front[data-type="22"][data-pos="2"] {
  background-position: -400% -400%;
}
.card.confort .card-sides .front[data-type="22"][data-pos="3"] {
  background-position: -500% -400%;
}
.card.confort .card-sides .front[data-type="23"][data-pos="1"] {
  background-position: 0% -500%;
}
.card.confort .card-sides .front[data-type="23"][data-pos="2"] {
  background-position: -100% -500%;
}
.card.confort .card-sides .front[data-type="23"][data-pos="3"] {
  background-position: -200% -500%;
}
.card.confort .card-sides .front[data-type="24"][data-pos="1"] {
  background-position: -300% -500%;
}
.card.confort .card-sides .front[data-type="24"][data-pos="2"] {
  background-position: -400% -500%;
}
.card.confort .card-sides .front[data-type="24"][data-pos="3"] {
  background-position: -500% -500%;
}
.card.confort .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}
.card.confort .help-marker {
  top: 17px;
}

.white-border .card.confort .card-sides .front {
  outline: 1px solid #000;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.white-border .bga-cards_selectable-card:not(.bga-cards_selected-card) .card-sides .front {
  outline: 1px solid #000;
  box-shadow: 0 0 5px 6px orange;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

.card.cottage {
  display: inline-block;
  position: relative;
  width: 27px;
  height: 27px;
}
.card.cottage .card-sides .front {
  background-image: url("img/houses.png") !important;
  background-size: 270px 27px !important;
  box-shadow: none;
}
.card.cottage .card-sides .front[data-type=yellow] {
  background-position-x: -600%;
}
.card.cottage .card-sides .front[data-type=green] {
  background-position-x: -100%;
}
.card.cottage .card-sides .front[data-type=gray] {
  background-position-x: -400%;
}
.card.cottage .card-sides .front[data-type=red] {
  background-position-x: -700%;
}
.card.cottage .card-sides .front[data-type=purple] {
  background-position-x: -800%;
}
.card.cottage .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.card.improvement {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 5px;
}
.card.improvement .card-sides .back {
  background-image: url("img/improvement_back.jpg");
  background-size: 125px 125px;
  border-radius: 5px;
}
.card.improvement .card-sides .front {
  background-image: url("img/improvement_v2.jpg");
  background-size: 375px 750px;
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.improvement .card-sides .front[data-type="1"] {
  background-position: 0% 0%;
}
.card.improvement .card-sides .front[data-type="2"] {
  background-position: -100% 0%;
}
.card.improvement .card-sides .front[data-type="3"] {
  background-position: -200% 0%;
}
.card.improvement .card-sides .front[data-type="4"] {
  background-position: 0% -100%;
}
.card.improvement .card-sides .front[data-type="5"] {
  background-position: -100% -100%;
}
.card.improvement .card-sides .front[data-type="6"] {
  background-position: -200% -100%;
}
.card.improvement .card-sides .front[data-type="7"] {
  background-position: 0% -200%;
}
.card.improvement .card-sides .front[data-type="8"] {
  background-position: -100% -200%;
}
.card.improvement .card-sides .front[data-type="9"] {
  background-position: -200% -200%;
}
.card.improvement .card-sides .front[data-type="10"] {
  background-position: 0% -300%;
}
.card.improvement .card-sides .front[data-type="11"] {
  background-position: -100% -300%;
}
.card.improvement .card-sides .front[data-type="12"] {
  background-position: -200% -300%;
}
.card.improvement .card-sides .front[data-type="13"] {
  background-position: 0% -400%;
}
.card.improvement .card-sides .front[data-type="14"] {
  background-position: -100% -400%;
}
.card.improvement .card-sides .front[data-type="15"] {
  background-position: -200% -400%;
}
.card.improvement .card-sides .front[data-type="16"] {
  background-position: 0% -500%;
}
.card.improvement .card-sides .front[data-type="17"] {
  background-position: -100% -500%;
}
.card.improvement .card-sides .front[data-type="18"] {
  background-position: -200% -500%;
}
.card.improvement .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}
.card.improvement .card-sides .front .slot-cottage {
  position: absolute;
  top: 36px;
  right: 5px;
  width: 27px;
  height: 27px;
}
.card.improvement .card-sides .front .slot-cottage:not(:empty) {
  outline: 1px solid #000;
  background: rgba(255, 255, 255, 0.4);
}
.card.improvement .card-sides .front .slot-cottage .front {
  border-radius: 0;
  box-shadow: none;
  filter: none;
}
.card.improvement.bga-cards_selectable-card:not(.bga-cards_selected-card) .card-sides .front {
  outline: 1px solid #000;
  box-shadow: 0 0 5px 6px orange;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

.card.traveler {
  display: inline-block;
  position: relative;
  width: 212px;
  height: 142px;
  border-radius: 5px;
}
.card.traveler .card-sides .back, .card.traveler .card-sides .front {
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.traveler .card-sides .back {
  background-image: url("img/travelers-back.jpg");
  background-size: 212px 142px;
}
.card.traveler .card-sides .front {
  background-image: url("img/travelers.jpg");
  background-size: 1060px 426px;
}
.card.traveler .card-sides .front[data-type="1"] {
  background-position: 0% 0%;
}
.card.traveler .card-sides .front[data-type="2"] {
  background-position: -100% 0%;
}
.card.traveler .card-sides .front[data-type="3"] {
  background-position: -200% 0%;
}
.card.traveler .card-sides .front[data-type="4"] {
  background-position: -300% 0%;
}
.card.traveler .card-sides .front[data-type="5"] {
  background-position: -400% 0%;
}
.card.traveler .card-sides .front[data-type="6"] {
  background-position: 0% -100%;
}
.card.traveler .card-sides .front[data-type="7"] {
  background-position: -100% -100%;
}
.card.traveler .card-sides .front[data-type="8"] {
  background-position: -200% -100%;
}
.card.traveler .card-sides .front[data-type="9"] {
  background-position: -300% -100%;
}
.card.traveler .card-sides .front[data-type="10"] {
  background-position: -400% -100%;
}
.card.traveler .card-sides .front[data-type="11"] {
  background-position: 0% -200%;
}
.card.traveler .card-sides .front[data-type="12"] {
  background-position: -100% -200%;
}
.card.traveler .card-sides .front[data-type="13"] {
  background-position: -200% -200%;
}
.card.traveler .card-sides .front[data-type="14"] {
  background-position: -300% -200%;
}
.card.traveler .card-sides .front[data-type="15"] {
  background-position: -400% -200%;
}
.card.traveler .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.card.valley {
  display: inline-block;
  position: relative;
  width: 310px;
  height: 156px;
  border-radius: 5px;
}
.card.valley.forest .front {
  background-image: url("img/forest.jpg");
}
.card.valley.meadow .front {
  background-image: url("img/meadow.jpg");
}
.card.valley .card-sides .front {
  background-size: 1240px 312px;
  outline: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}
.card.valley .card-sides .front[data-type=fall][data-image_pos="1"] {
  background-position: 0% 0%;
}
.card.valley .card-sides .front[data-type=fall][data-image_pos="2"] {
  background-position: -100% 0%;
}
.card.valley .card-sides .front[data-type=spring][data-image_pos="3"] {
  background-position: -200% 0%;
}
.card.valley .card-sides .front[data-type=spring][data-image_pos="4"] {
  background-position: -300% 0%;
}
.card.valley .card-sides .front[data-type=spring][data-image_pos="5"] {
  background-position: 0% -100%;
}
.card.valley .card-sides .front[data-type=summer][data-image_pos="6"] {
  background-position: -100% -100%;
}
.card.valley .card-sides .front[data-type=summer][data-image_pos="7"] {
  background-position: -100% -100%;
}
.card.valley .card-sides .front[data-type=summer][data-image_pos="8"] {
  background-position: -100% -100%;
}
.card.valley .card-sides .front[data-type="1"] {
  background-position: 0% 0%;
}
.card.valley .card-sides .front[data-type="2"] {
  background-position: -100% 0%;
}
.card.valley .card-sides .front[data-type="3"] {
  background-position: -200% 0%;
}
.card.valley .card-sides .front[data-type="4"] {
  background-position: -300% 0%;
}
.card.valley .card-sides .front[data-type="5"] {
  background-position: -400% 0%;
}
.card.valley .card-sides .front[data-type="6"] {
  background-position: 0% -100%;
}
.card.valley .card-sides .front[data-type="7"] {
  background-position: -100% -100%;
}
.card.valley .card-sides .front[data-type="8"] {
  background-position: -200% -100%;
}
.card.valley .card-sides .front[data-type="9"] {
  background-position: -300% -100%;
}
.card.valley .card-sides .front[data-type="10"] {
  background-position: -400% -100%;
}
.card.valley .card-sides .front[data-type="11"] {
  background-position: 0% -200%;
}
.card.valley .card-sides .front[data-type="12"] {
  background-position: -100% -200%;
}
.card.valley .card-sides .front[data-type="13"] {
  background-position: -200% -200%;
}
.card.valley .card-sides .front[data-type="14"] {
  background-position: -300% -200%;
}
.card.valley .card-sides .front[data-type="15"] {
  background-position: -400% -200%;
}
.card.valley .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

.bga-dice_die-face {
  background-size: 300% 200%;
}

.bga-dice_die .bga-dice_die-face[data-face="1"] {
  background-position: 0% -92%;
}

.bga-dice_die .bga-dice_die-face[data-face="2"] {
  background-position: 0% 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="3"] {
  background-position: -100% -100%;
}

.bga-dice_die .bga-dice_die-face[data-face="4"] {
  background-position: -100% 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="5"] {
  background-position: -200% 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="6"] {
  background-position: -200% -100%;
}

.colored-die[data-color=yellow] .bga-dice_die-face,
.colored-die[data-color=yellow].bga-dice_die-face {
  background-image: url("img/dice_yellow.jpg");
}

.colored-die[data-color=green] .bga-dice_die-face,
.colored-die[data-color=green].bga-dice_die-face {
  background-image: url("img/dice_green.jpg");
}

.colored-die[data-color=red] .bga-dice_die-face,
.colored-die[data-color=red].bga-dice_die-face {
  background-image: url("img/dice_red.jpg");
}

.colored-die[data-color=gray] .bga-dice_die-face,
.colored-die[data-color=gray].bga-dice_die-face {
  background-image: url("img/dice_gray.jpg");
}

.colored-die[data-color=purple] .bga-dice_die-face,
.colored-die[data-color=purple].bga-dice_die-face {
  background-image: url("img/dice_purple.jpg");
}

.colored-die[data-color=white] .bga-dice_die-face,
.colored-die[data-color=white].bga-dice_die-face {
  background-image: url("img/dice_white.jpg");
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(1, 1, 1, 0deg) rotate(90deg);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(1, 1, 1, 0deg) translateZ(var(--half-size)) rotate(90deg);
}

.dice-icon-log {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid black;
}
.dice-icon-log > span {
  display: none;
}
.dice-icon-log[data-face="1"] {
  background-position: 0% -100%;
  transform: rotate(90deg);
}
.dice-icon-log[data-face="2"] {
  background-position: 0% 0%;
}
.dice-icon-log[data-face="3"] {
  background-position: -100% -100%;
}
.dice-icon-log[data-face="4"] {
  background-position: -100% 0%;
}
.dice-icon-log[data-face="5"] {
  background-position: -200% 0%;
}
.dice-icon-log[data-face="6"] {
  background-position: -200% -100%;
}

.slot-dice {
  border-radius: 5px;
}
.slot-dice.selectable {
  animation: pulseSelectable 1s infinite alternate;
  pointer-events: initial !important;
  user-select: initial !important;
}

.gamestate_placement #hill-dice .bga-dice_die[data-color=white] {
  display: none;
}

.card.worker {
  display: inline-block;
  position: relative;
  height: 50px;
}
.card.worker[data-type=yellow] {
  width: 34px;
}
.card.worker[data-type=green], .card.worker[data-type=red] {
  width: 40px;
}
.card.worker[data-type=purple] {
  width: 46px;
}
.card.worker[data-type=gray] {
  width: 50px;
}
.card.worker .card-sides .front {
  background-image: url("img/workers.png");
  background-size: 50px 250px;
  box-shadow: none;
}
.card.worker .card-sides .front[data-type=purple] {
  background-position: 0 -2%;
  background-size: 55px 275px;
  background-repeat: no-repeat;
}
.card.worker .card-sides .front[data-type=gray] {
  background-position: 0 -105%;
}
.card.worker .card-sides .front[data-type=green] {
  background-position: 0 -205%;
}
.card.worker .card-sides .front[data-type=yellow] {
  background-position: 0 -307%;
  background-size: 48px 242px;
}
.card.worker .card-sides .front[data-type=red] {
  background-position: 0 -409%;
  background-size: 46px 234px;
}
.card.worker .card-sides .front > * {
  pointer-events: none;
  user-select: none;
}

#select-resources {
  background: #f5f5f5;
  margin-left: -5px;
  padding: 5px;
  position: relative;
  width: 100%;
  z-index: 10;
  min-height: 35px;
  display: none;
  justify-content: center;
  gap: 10px;
}
#select-resources.show {
  display: flex;
}
#select-resources #select-resources-player,
#select-resources #select-resources-placeholder,
#select-resources #select-resources-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#select-resources #select-resources-placeholder {
  padding-left: 60px;
}
#select-resources #select-resources-placeholder .placeholder {
  zoom: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  user-select: none;
  background-color: #edcfa7;
  min-width: 30px;
  min-height: 32px;
}
#select-resources #select-resources-placeholder .placeholder:empty:before {
  content: "#";
  color: #ae8f62;
}
#select-resources .wrapper {
  zoom: 1.2;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  user-select: none;
  cursor: pointer;
}
#select-resources .wrapper.disabled {
  cursor: default;
  filter: grayscale(80%);
  filter: opacity(0.2);
}
#select-resources .resource-icon {
  height: 32px;
}

#resource-converter {
  background: #f5f5f5;
  margin-left: -5px;
  padding: 5px;
  position: relative;
  width: 100%;
  z-index: 10;
  min-height: 35px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}
#resource-converter.hideTo #resource-converter-board-resources,
#resource-converter.hideTo .wrapper.no-border.arrow,
#resource-converter.hideTo .wrapper.no-border.to {
  display: none !important;
}
#resource-converter .line {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
#resource-converter #resource-converter-player,
#resource-converter #resource-converter-placeholder-from,
#resource-converter #resource-converter-board-resources,
#resource-converter #resource-converter-buttons,
#resource-converter #resource-converter-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#resource-converter .resource-converter-placeholder-from,
#resource-converter .resource-converter-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#resource-converter .from,
#resource-converter .to {
  gap: 5px;
}
#resource-converter .arrow {
  font-size: 12px;
}
#resource-converter .arrow > svg {
  position: absolute;
  z-index: -1;
}
#resource-converter .wrapper {
  zoom: 1.2;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 2px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
  user-select: none;
  cursor: pointer;
}
#resource-converter .wrapper.disabled {
  cursor: default;
  filter: grayscale(80%);
  filter: opacity(0.2);
  cursor: not-allowed;
}
#resource-converter .wrapper.no-border {
  border: none;
}
#resource-converter .wrapper[data-type=lesson] {
  margin-left: 30px;
}
#resource-converter .wrapper.from {
  min-width: 0;
}
#resource-converter .resource-icon[data-type=lesson] {
  zoom: 0.9;
}
#resource-converter #resource-converter-board-resources .wrapper {
  background-color: #edcfa7;
  min-width: 32px;
}
#resource-converter #resource-converter-board-resources .wrapper .counter {
  display: none;
}
#resource-converter .placeholder {
  zoom: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
  user-select: none;
  background-color: #edcfa7;
  min-width: 32px;
  min-height: 32px;
}
#resource-converter .placeholder:empty:before {
  content: "#";
  color: #ae8f62;
}

.log .resource-icon {
  display: inline-block;
  vertical-align: middle;
}
.log .resource-icon[data-type=lesson] {
  rotate: 45deg;
}

.modal_open {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  position: fixed;
}
.modal_open #modal-display {
  display: flex;
}

#modal-display {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.867);
  z-index: 10000;
  justify-content: center;
  align-items: center;
  --width: 300px;
  --height: 420px;
}
#modal-display #modal-display-close {
  color: white;
  font-size: 32px;
  margin-left: 320px;
  z-index: 100;
  margin-top: -450px;
  position: absolute;
}

.desktop_version.modal_open #modal-display-card .card.improvement {
  width: 500px;
  height: 500px;
}
.desktop_version.modal_open #modal-display-card .card.improvement .front {
  background-size: 1500px 3000px;
}
.desktop_version.modal_open #modal-display-card .card.traveler {
  width: 750px;
  height: 500px;
}
.desktop_version.modal_open #modal-display-card .card.traveler .front {
  background-size: 3750px 1500px;
}
.desktop_version.modal_open #modal-display-card .card.valley {
  width: 750px;
  height: 378px;
}
.desktop_version.modal_open #modal-display-card .card.valley .front {
  background-size: 3000px 756px;
}
.desktop_version.modal_open #modal-display-card .card.confort {
  width: 375px;
  height: 500px;
}
.desktop_version.modal_open #modal-display-card .card.confort .front {
  background-size: 2250px 3000px;
  outline: 1px solid #000;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

.mobile_version.modal_open #modal-display-card .card.improvement {
  width: 250px;
  height: 250px;
}
.mobile_version.modal_open #modal-display-card .card.improvement .front {
  background-size: 750px 1500px;
}
.mobile_version.modal_open #modal-display-card .card.traveler {
  width: 300px;
  height: 200px;
}
.mobile_version.modal_open #modal-display-card .card.traveler .front {
  background-size: 1500px 600px;
}
.mobile_version.modal_open #modal-display-card .card.confort {
  width: 250px;
  height: 350px;
}
.mobile_version.modal_open #modal-display-card .card.confort .front {
  background-size: 1500px 2100px;
  outline: 1px solid #000;
  box-shadow: 0 0 5px 6px #fff;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

#game_play_area #bga-zoom-wrapper {
  padding-top: 50px;
}

#table {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-right: 10px;
  width: 100%;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bgabutton.bgabutton_disabled {
  background: #e5e5ef;
  border: 1px solid #9090af;
  box-shadow: none;
  color: #9090af;
  text-shadow: none;
}
.bgabutton .resource-icon {
  display: inline-block;
  vertical-align: middle;
  zoom: 0.6;
}

.title {
  position: absolute;
  margin: -36px 0 0 0;
  border: 3px solid var(--color);
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: 600;
  background-color: white;
}

.bga-cards_selected-card .front {
  animation: pulseSelectable 1s infinite alternate;
}

.bga-dice_selected-die {
  box-shadow: 0 0 5px 7px #00ffff;
}

@keyframes pulseSelectable {
  0% {
    box-shadow: 0 0 5px 5px #00ffff;
  }
  to {
    box-shadow: 0 0 5px 5px #0885c3;
  }
}
.current_player_is_active .gamestate_startHand #btn_discard {
  display: inline-block;
}
.current_player_is_active .gamestate_startHand #btn_cancel {
  display: none;
}

.gamestate_startHand #btn_discard {
  display: none;
}
.gamestate_startHand #btn_cancel {
  display: inline-block;
}

#logs .cc-icon {
  display: inline-block;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  vertical-align: middle;
}
#logs .i-cards {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 500'%3E%3Cpath fill='darkred' d='M304.5,51.5A60.1,60.1,0,0,0,245,0H61.3A60.2,60.2,0,0,0,1.1,60.1V388.7a60.2,60.2,0,0,0,54.4,59.8A60.1,60.1,0,0,0,115,500H298.7a60.2,60.2,0,0,0,60.2-60.1V111.3A60.2,60.2,0,0,0,304.5,51.5Z'%3E%3C/path%3E%3Cpath fill='white' d='M326.6,111.3V439.9a28,28,0,0,1-27.9,27.9H115a27.9,27.9,0,0,1-26.4-19H245a60.1,60.1,0,0,0,60.1-60.1V84.2A28,28,0,0,1,326.6,111.3ZM245,32.2H61.3A28,28,0,0,0,33.4,60.1V388.7a27.9,27.9,0,0,0,27.9,27.8H245a27.9,27.9,0,0,0,27.9-27.8V60.1A28,28,0,0,0,245,32.2Z'%3E%3C/path%3E%3C/svg%3E");
  color: black;
}
#logs .i-cards span {
  display: block;
  width: 90%;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.help-marker {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
  cursor: zoom-in !important;
  pointer-events: initial !important;
  user-select: initial !important;
  font-size: 20px;
}

@media screen and (min-width: 2033px) {
  #tables-and-center {
    display: grid;
    grid-template-areas: "board player" "board players";
    grid-template-rows: 0fr 1fr;
  }
  #tables-and-center #current-player-table {
    grid-area: player;
  }
  #tables-and-center #table-center-wrapper {
    grid-area: board;
  }
  #tables-and-center #tables {
    grid-area: players;
  }
}
