.card.confort {
   --card-width: 110px;
   --card-height: 154px;
   display: inline-block;
   position: relative;
   width: var(--card-width);
   height: var(--card-height);
   border-radius: 5px;

   .card-sides {
      .back {
         background-size: calc(var(--card-width) * 7) calc(var(--card-height) * 4);
         background-image: url('img/comforts/cards.jpg');
         background-position: -600% -200%;
         border-radius: 5px;
      }

      .front {
         border-radius: 5px;
         outline: 1px solid #000;
         background-size: calc(var(--card-width) * 7) calc(var(--card-height) * 4);
         background-image: url('img/comforts/cards.jpg');

         @for $row from 0 through 3 {
            @for $col from 0 through 6 {
               &[data-img='#{(($row * 7) + $col + 1)}'] {
                  background-position: ($col * -100%) ($row * -100%);
               }
            }
         }

         &>* {
            pointer-events: none;
            user-select: none;
         }
      }
   }

   .help-marker {
      top: 17px;
   }

   .title {
      position: absolute;
      top: 8px;
      left: 0;
      right: 0;
      font-size: 11px;
      padding-left: 27px;
      color: white;
      font-family: Bosk;
   }

   .gametext-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33px;
      font-family: 'Bosk';
      font-size: 11px;
      color: white;
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .gametext {
      text-align: center;

      .i-heart {
         width: 16px;
         height: 12px;
         background-size: 16px 12px;

         span {
            font-size: 9px;
         }
      }

      .resource-group {
         display: inline-block;
         margin: 0 2px;
      }

      .resource-icon {
         display: inline-flex;
         align-items: center;
         zoom: 0.5;

         &::after {
            content: "\00a0";
         }

         &[data-type="coin"] {
            height: 10px;
         }
      }
   }
}

.white-border {
   .card.confort {
      .card-sides {
         .front {
            outline: 1px solid #000;
            box-shadow: 0 0 5px 6px #fff;
            filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
         }
      }
   }

   .bga-cards_selectable-card:not(.bga-cards_selected-card) {
      .card-sides {
         .front {
            outline: 1px solid #000;
            box-shadow: 0 0 5px 6px orange;
            filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
         }
      }
   }
}

.tooltip-card-comfort {
   display: contents;
   gap: 15px;

   .tooltip-left {
      display: flex;
      max-width: 260px;
      flex-direction: column;
      gap: 5px;

      .tooltip-header {
         display: flex;
         border-bottom: 2px solid black;
         padding: 3px;

         .score {
            .i-heart {
               zoom: 1.1;
            }
         }

         .name {
            text-align: center;
            justify-content: center;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
         }
      }

      .tooltip-cost {
         display: flex;
         font-size: 14px;
         font-family: BrushSerifEdward;
         gap: 5px;
         justify-content: center;
      }

      .tooltip-gametext {
         padding: 0 3px;
         line-height: 30px;
         text-align: center;
         vertical-align: middle;

         .i-heart {
            margin: 0 2px;
         }

         .resource-icon {
            margin: 0 2px;
            display: inline-flex;
            align-items: center;
            zoom: 0.8;

            &::after {
               content: "\00a0";
            }

            &[data-type="coin"] {
               height: 26px;
            }
         }
      }
   }
}