.card.comfort {
   --card-width: 110px;
   --card-height: 154px;
   // display: inline-block;
   // position: relative;
   // width: calc(var(--card-width) * var(--card-ratio));
   // height: calc(var(--card-height) * var(--card-ratio));

   .card-sides {

      .back,
      .front {
         background-size: calc(var(--card-width) * var(--card-ratio) * 7) calc(var(--card-height) * var(--card-ratio) * 4);
         background-image: url('img/comforts/cards.jpg');
         border-radius: 5px;
      }

      .back {
         background-position: -600% -200%;
      }

      .front {
         --title-top: 8px;
         --title-font-size: 0.7rem;
         --title-left-padding: 27px;
         --gametext-font-size: 0.5rem;
         --gametext-min-height: 33px;

         @for $row from 0 through 3 {
            @for $col from 0 through 6 {
               &[data-img='#{(($row * 7) + $col + 1)}'] {
                  background-position: ($col * -100%) ($row * -100%);
               }
            }
         }
      }
   }

   .help-marker {
      top: 17px;
   }

   .title {
      color: white;
      font-family: Bosk;
   }

   .gametext-wrapper {
      color: white;
   }
}

.white-border {
   .card {
      .card-sides {
         .front {
            outline: 1px solid #000;
            box-shadow: 0 0 5px 6px #fff;
            filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
         }
      }
   }

   .bga-cards_selectable-card:not(.bga-cards_selected-card) {
      .card-sides {
         .front {
            outline: 1px solid #000;
            box-shadow: 0 0 5px 6px orange;
            filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
         }
      }
   }
}

.tooltip-card-comfort {
   display: contents;
   gap: 15px;

   .tooltip-left {
      display: flex;
      max-width: 260px;
      flex-direction: column;
      gap: 5px;

      .tooltip-header {
         display: flex;
         border-bottom: 2px solid black;
         padding: 3px;

         .score {
            .i-heart {
               zoom: 1.1;
            }
         }

         .name {
            text-align: center;
            justify-content: center;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
         }
      }

      .tooltip-cost {
         display: flex;
         font-size: 14px;
         font-family: BrushSerifEdward;
         gap: 5px;
         justify-content: center;
      }

      .tooltip-gametext {
         padding: 0 3px;
         line-height: 30px;
         text-align: center;
         vertical-align: middle;

         .i-heart {
            margin: 0 2px;
         }

         .resource-icon {
            margin: 0 2px;
            display: inline-flex;
            align-items: center;
            zoom: 0.8;

            &::after {
               content: "\00a0";
            }

            &[data-type="coin"] {
               height: 26px;
            }
         }
      }
   }
}