.card.improvement {
   display: inline-block;
   position: relative;
   width: 125px;
   height: 125px;
   border-radius: 5px;
   --card-width: 125px;
   --card-height: 125px;

   .card-sides {
      border-radius: 5px;
      overflow: hidden;

      .image {
         background-image: url('img/improvements/cards.jpg');
         background-size: calc(var(--card-width) * 5) calc(var(--card-height) * 4);

         @for $row from 0 through 3 {
            @for $col from 0 through 4 {
               &[data-img='#{(($row * 5) + $col + 1)}'] {
                  background-position: ($col * -100%) ($row * -100%);
               }
            }
         }
      }

      .back {
         background-image: url('img/improvements/cards.jpg');
         background-size: calc(var(--card-width) * 5) calc(var(--card-height) * 4);
         background-position: -200% -300%;
      }

      .front {
         outline: 1px solid #000;
         box-shadow: 0 0 5px 6px #fff;
         filter: drop-shadow(0.1vw 0.1vw 0.1vw black);

         &>* {
            pointer-events: none;
            user-select: none;
         }

         .slot-cottage {
            position: absolute;
            top: 36px;
            right: 5px;
            width: 27px;
            height: 27px;

            &:not(:empty) {
               outline: 1px solid #000;
               background: #ffffff66;
            }

            .front {
               border-radius: 0;
               box-shadow: none;
               filter: none;
            }
         }
      }
   }

   &.bga-cards_selectable-card:not(.bga-cards_selected-card) {
      .card-sides {
         .front {
            outline: 1px solid #000;
            box-shadow: 0 0 5px 6px orange;
            filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
         }
      }
   }

   .title {
      position: absolute;
      top: 9px;
      left: 0;
      right: 0;
      font-size: 10px;
      padding-left: 27px;
      color: palegoldenrod;
      font-family: Bosk;
   }

   .gametext-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 33px;
      font-family: "Bosk";
      font-size: 8px;
      color: palegoldenrod;
      padding: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   [data-type="8"] .gametext-wrapper,
   [data-type="14"] .gametext-wrapper,
   [data-type="16"] .gametext-wrapper {
      min-height: 28px;
   }

   [data-type="11"] .gametext-wrapper {
      min-height: 41px;
   }

   .gametext {
      text-align: center;

      .keyword {
         color: white;
      }

      .type .label {
         color: white;
      }

      .i-heart {
         width: 16px;
         height: 12px;
         background-size: 16px 12px;

         span {
            font-size: 9px;
         }
      }

      .resource-group {
         display: inline-block;
         margin: 0 2px;
      }

      .resource-icon {
         display: inline-flex;
         align-items: center;
         zoom: 0.4;


         &::after {
            content: " ";
         }

         &[data-type=coin] {
            height: 35px;
         }
      }
   }
}