.card.cottage {
   display: inline-block;
   position: relative;
   width: 27px;
   height: 27px;

   .card-sides {
      .front {
         background-image: url('img/houses.png') !important;
         background-size: 270px 27px !important;
         box-shadow: none;
         
         $positions: (
            'yellow': -600%,
            'green': -100%,
            'gray': -400%,
            'red': -700%,
            'purple': -800%,
         );

         @each $color, $pos in $positions {
            &[data-type='#{$color}'] {
               background-position-x: $pos;
            }
         }

         & > * {
            pointer-events: none;
            user-select: none;
         }
      }
   }
}
