.card.valley {
   --card-width: 310px;
   --card-height: 156px;
   display: inline-block;
   position: relative;
   width: calc(var(--card-width) * var(--card-ratio));
   height: calc(var(--card-height) * var(--card-ratio));

   &.forest {
      .front {
         background-image: url('img/valleys/forest.jpg');
      }
   }

   &.meadow {
      .front {
         background-image: url('img/valleys/meadow.jpg');
      }
   }

   .card-sides {

      .front {
         background-size: calc(var(--card-width) * var(--card-ratio) * 4) calc(var(--card-height) * var(--card-ratio) * 2);

         &[data-type='fall'][data-image_pos='1'] {
            background-position: -0% -0%;
         }

         &[data-type='fall'][data-image_pos='2'] {
            background-position: -100% -0%;
         }

         &[data-type='spring'][data-image_pos='3'] {
            background-position: -200% -0%;
         }

         &[data-type='spring'][data-image_pos='4'] {
            background-position: -300% -0%;
         }

         &[data-type='spring'][data-image_pos='5'] {
            background-position: -0% -100%;
         }

         &[data-type='summer'][data-image_pos='6'] {
            background-position: -100% -100%;
         }

         &[data-type='summer'][data-image_pos='7'] {
            background-position: -200% -100%;
         }

         &[data-type='summer'][data-image_pos='8'] {
            background-position: -300% -100%;
         }

         outline: 1px solid #000;
         box-shadow: 0 0 5px 6px #fff;
         filter: drop-shadow(0.1vw 0.1vw 0.1vw black);

         @for $row from 0 through 2 {
            @for $col from 0 through 4 {
               &[data-type='#{(($row * 5) + $col + 1)}'] {
                  background-position: ($col * -100%) ($row * -100%);
               }
            }
         }

         &>* {
            pointer-events: none;
            user-select: none;
         }
      }
   }

   .dice-rule {
      font-family: "MotterCondensed";
      color: white;
      position: absolute;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: red;
      font-size: calc(8px * var(--card-ratio));
      bottom: calc(8px * var(--card-ratio));
      min-height: calc(26px * var(--card-ratio));

      // font-size: 11px;
      // min-height: 26px;
      // bottom: 8px;
      // max-width: 58px;

      &[data-pos="1"],
      &[data-pos="3"] {
         // left: calc(70px * var(--card-ratio));
         // width: calc(58px * var(--card-ratio));
         left: calc(92px * var(--card-ratio));
         width: calc(38px * var(--card-ratio));
      }

      &[data-pos="2"],
      &[data-pos="4"] {
         right: calc(25px * var(--card-ratio));
         width: calc(36px * var(--card-ratio));
      }
   }

   &[data-card-type="1"] {
      .dice-rule[data-pos="1"] {
         left: calc(72px * var(--card-ratio));
         width: calc(58px * var(--card-ratio));
         justify-content: start;
      }

      .dice-rule[data-pos="2"] {
         right: calc(32px * var(--card-ratio));
         width: calc(38px * var(--card-ratio));
      }
   }

   &[data-card-type="3"] {
      .dice-rule[data-pos="1"] {
         left: calc(72px * var(--card-ratio));
         width: calc(58px * var(--card-ratio));
         justify-content: start;
      }
   }

   &[data-card-type="11"] {
      .dice-rule[data-pos="4"] {
         right: calc(32px * var(--card-ratio));
         width: calc(38px * var(--card-ratio));
      }
   }
}