.bga-dice_die.colored-die {
   &[data-color='yellow'] {
      .bga-dice_die-face {
         background-image: url('img/yellow/dice.svg');
         // box-shadow: inset 2px 2px 3px #c68212, inset -2px -2px 3px #c68312;
      }
   }
   &[data-color='white'] {
      .bga-dice_die-face {
         background-image: url('img/white/dice.svg');
         // box-shadow: inset 0px 0px 4px #231f21;
      }
   }
   &[data-color='green'] {
      .bga-dice_die-face {
         background-image: url('img/green/dice.svg');
         // box-shadow: inset 2px 2px 3px #06485a, inset -2px -2px 3px #06485a;
      }
   }
   &[data-color='gray'] {
      .bga-dice_die-face {
         background-image: url('img/gray/dice.svg');
         // box-shadow: inset 2px 2px 3px #06485a, inset -2px -2px 3px #06485a;
      }
   }
   &[data-color='purple'] {
      .bga-dice_die-face {
         background-image: url('img/purple/dice.svg');
         // box-shadow: inset 2px 2px 3px #06485a, inset -2px -2px 3px #06485a;
      }
   }
   &[data-color='red'] {
      .bga-dice_die-face {
         background-image: url('img/red/dice.svg');
         // box-shadow: inset 2px 2px 3px #06485a, inset -2px -2px 3px #06485a;
      }
   }

   &[data-color='yellow'],
   &[data-color='white'],
   &[data-color='green'],
   &[data-color='gray'],
   &[data-color='purple'],
   &[data-color='red'] {
      .bga-dice_die-face {
         background-size: 600% 100%;

         &[data-face='1'] {
            background-position: 0% 0%;
         }
         &[data-face='2'] {
            background-position: -100% 0%;
         }
         &[data-face='3'] {
            background-position: -200% 0%;
         }
         &[data-face='4'] {
            background-position: -300% 0%;
         }
         &[data-face='5'] {
            background-position: -400% 0%;
         }
         &[data-face='6'] {
            background-position: -500% 0%;
         }
      }
   }
}

.dice-icon-log {
   width: 25px;
   height: 25px;
   display: inline-block;
   margin: 0 5px;
   vertical-align: middle;
   border-radius: 5px;
   outline: 1px solid black;

   span {
      display: none;
   }

   .bga-dice_die-face {
      width: 25px;
      height: 25px;
   }
}

.slot-dice {
   border-radius: 5px;

   &.selectable {
      animation: pulseSelectable 1s infinite alternate;
      pointer-events: initial !important;
      user-select: initial !important;

      &.selected {
         animation: none;
         box-shadow: 0 0 5px 7px #00ffff;
      }
   }
}

#hill-dice {
   .bga-dice_die[data-color='white'] {
      display: none;
   }
}

[data-phase='4'],
[data-phase='5'],
[data-phase='5a'],
[data-phase='5b'],
[data-phase='5c'],
[data-phase='5d'],
[data-phase='5e'],
[data-phase='5f'],
[data-phase='blueJay'] {
   #hill-dice {
      .bga-dice_die[data-color='white'] {
         display: block;
      }
   }
}
