.card.worker {
   --ratio: 1;
   display: inline-block;
   position: relative;
   height: calc(50px * var(--ratio));

   &[data-type='yellow'] {
      width: calc(34px * var(--ratio));
   }
   &[data-type='green'],
   &[data-type='red'] {
      width: calc(40px * var(--ratio));
   }
   &[data-type='purple'] {
      width: calc(46px * var(--ratio));
   }
   &[data-type='gray'] {
      width: calc(50px * var(--ratio));
   }
   .card-sides {
      .front {
         background-image: url('img/workers.png');
         background-size: calc(50px * var(--ratio)) calc(250px * var(--ratio));
         box-shadow: none;

         &[data-type='purple'] {
            background-position: 0 -2%;
            background-size: calc(55px * var(--ratio)) calc(275px * var(--ratio));
            background-repeat: no-repeat;
         }
         &[data-type='gray'] {
            background-position: 0 -105%;
         }
         &[data-type='green'] {
            background-position: 0 -205%;
         }
         &[data-type='yellow'] {
            background-position: 0 -307%;
            background-size: calc(48px * var(--ratio)) calc(242px * var(--ratio));
         }
         &[data-type='red'] {
            background-position: 0 -409%;
            background-size: calc(46px * var(--ratio)) calc(234px * var(--ratio));
         }

         & > * {
            pointer-events: none;
            user-select: none;
         }
      }
   }
}

#board .card.worker { 
   --ratio: 0.75;
}

// width: calc(46px * 0.75);
// height: calc(50px * 0.75);
// background-position: 0 -2%;
// background-size: calc(55px * 0.75) calc(275px * 0.75);