.resource-container {
   .resource-trader {
      display: flex;
      align-items: center;
      gap: 5px;

      &.disabled {
         filter: grayscale(80%);
         filter: opacity(0.2);
      }

      .restriction-icon {
         background-repeat: no-repeat;
         background-size: cover;
         width: 24px;
         height: 24px;

         &.different {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle fill='black' cx='12' cy='12' r='11' /%3E%3Cpath fill='white' d='M18 9.998H6a1 1 0 1 1 0-2h12a1 1 0 0 1 0 2zm0 6H6a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2z'/%3E%3Cpath fill='white' d='M14.999 5H15c.507.219.742.806.525 1.314l-5.212 12.162A.999.999 0 0 1 9 19a1.002 1.002 0 0 1-.525-1.314l5.212-12.162A.999.999 0 0 1 15 5z'/%3E%3C/svg%3E");
         }
         &.same {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cg fill="none" stroke="black" stroke-width="2"%3E%3Cpath stroke-linecap="round" d="M16 14H8m8-4H8"%2F%3E%3Ccircle cx="12" cy="12" r="10"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
         }
      }
   }
}
