#game-phases, #game-infos {
   background-color: #222222aa;
   color: #fff;

   .title {
      margin: 0 -3px;
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      border-bottom: 2px solid white;
      font-family: 'Bosk';
   }
   .player-board-inner {
      position: relative;
      margin: 5px -3px 0 -3px;
   }
}

#game-infos {
   .player-board-inner {
      padding: 3px 15px;
   }
}

#wg-phases-wrapper {
   display: flex;
   flex-direction: column;
   font-size: 14px;
   gap: 2px;
}

#wg-phases {
   > li {
      font-family: 'Bosk';
      padding: 2px 15px;
      transition: ease-in-out all 0.2s;
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-size: 14px;
      font-weight: 600;
      border: 2px solid transparent;
      transition: background-color 1s ease-in-out;

      &.sub {
         padding: 2px 15px 2px 29px;
      }
   }

   &[data-phase='1'] li:nth-child(1),
   &[data-phase='2'] li:nth-child(2),
   &[data-phase='3'] li:nth-child(3),
   &[data-phase='4'] li:nth-child(4),
   &[data-phase='5'] li:nth-child(5),
   &[data-phase='5b'] li:nth-child(5),
   &[data-phase='5c'] li:nth-child(5),
   &[data-phase='5e'] li:nth-child(5),
   &[data-phase='6'] li:nth-child(9) {
      background-color: #35a589;
      border-radius: 0;
      font-style: italic;
   }

   &[data-phase='5b'] li:nth-child(6),
   &[data-phase='5c'] li:nth-child(7),
   &[data-phase='5e'] li:nth-child(8){
      background-color: #ff9f31;
      border-radius: 0;
      font-style: italic;
   }

   .wg-icon {
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      display: none;
   }
}

