.player-table {
   width: 860px;
   padding: 10px 0 30px;
   border-radius: 8px;
   border: 4px solid var(--player-color);
   background-color: hsla(0,0%,100%,.4);
   position: relative;

   .name-wrapper {
      background: white;
      color: var(--player-color);
      left: 20px;
      top: -15px;
      border: 4px solid var(--player-color);
      border-radius: 5px;
      font-weight: 600;
      padding: 3px 10px;
      position: absolute;
   }

   .cols {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      padding: 15px 15px 0 15px;

      .col {
         display: flex;
         flex-direction: column;
         row-gap: 20px;
      }
   }

   .title {
      color: var(--color);
      padding: 3px 10px;
      margin: 0;
      top: -15px;
      left: 20px;
   }

   .player-table-board {
      margin: 0 auto 20px;
      background-size: 400px 220px;
      width: 400px;
      height: 220px;
      border-radius: 10px;
      position: relative;

      .player-table-dice {
         position: absolute;
         left: 300px;
         top: 8px;
      }

      .player-table-cottage {
         position: absolute;
         left: 11px;
         top: 13px;
      }

      .player-table-worker {
         position: absolute;
         top: 167px;
         left: 6px;
      }
   }

   .player-table-improvement, .player-table-confort {
      max-width: 515px;

      &:empty {
         display: none;
      }
   }

   .player-table-confort {
      .card {
         zoom: 0.9;
      }
   }

   .icons.counters .wrapper {
      zoom: 1.5;
   }

   @each $playerColor in $playerColorNames {
      &.player-color-#{$playerColor} .player-table-board {
         background-image: url('img/board_#{$playerColor}.jpg');
      }
   }
}

.gamestate_bicycle {
   .player-table {
      .card.improvement {
         .front[data-type="4"] {
            box-shadow: 0 0 5px 6px orange;
         }
      }
   }
}
