.player-table {
   width: 100%;
   padding: 10px 0 30px;
   border-radius: 8px;
   border: 4px solid var(--player-color);
   background-color: hsla(0,0%,100%,.4);

   .name-wrapper {
      color: var(--player-color);
      display: flex;
      padding: 5px 5px 20px;
      justify-content: center;
      align-items: center;
      font-size: 20pt;
      font-weight: 600;
   }

   .cols {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .col {
         display: flex;
         flex-direction: column;
         row-gap: 20px;
      }
   }

   .title {
      color: var(--color);
      padding: 3px 10px;
      margin: 0;
      top: -15px;
      left: 20px;
   }

   .player-table-board {
      margin: 0 auto;
      background-size: 400px 220px;
      width: 400px;
      height: 220px;
      border-radius: 10px;
      position: relative;
      margin-bottom: 20px;

      .player-table-dice {
         position: absolute;
         left: 300px;
         top: 8px;
      }

      .player-table-cottage {
         position: absolute;
         left: 11px;
         top: 13px;
      }

      .player-table-worker {
         position: absolute;
         top: 167px;
         left: 6px;
      }
   }

   .player-table-improvement, .player-table-confort {
      max-width: 515px;
   }

   .icons.counters .wrapper {
      zoom: 1.5;
   }

   @each $playerColor in $playerColorNames {
      &.player-color-#{$playerColor} .player-table-board {
         background-image: url('img/board_#{$playerColor}.jpg');
      }
   }
}
