#select-resources {
   background: #f5f5f5;
   margin-left: -5px;
   padding: 5px;
   position: relative;
   width: 100%;
   z-index: 10;
   min-height: 35px;
   display: none;
   justify-content: center;
   gap: 10px;

   &.show {
      display: flex;
   }

   #select-resources-player,
   #select-resources-placeholder,
   #select-resources-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
   }

   #select-resources-placeholder {
      padding-left: 60px;

      .placeholder {
         zoom: 1.2;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 5px;
         border: 1px solid black;
         border-radius: 5px;
         padding: 0 10px;
         user-select: none;
         background-color: #edcfa7;
         min-width: 30px;
         min-height: 32px;

         &:empty:before {
            content: '#';
            color: #ae8f62;
         }
      }
   }

   .wrapper {
      zoom: 1.2;
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid black;
      border-radius: 5px;
      padding: 0 10px;
      user-select: none;
      cursor: pointer;

      &.disabled {
         cursor: default;
         filter: grayscale(80%);
         filter: opacity(0.2);
      }
   }

   .resource-icon {
      height: 32px;
   }
}
