#table-center-wrapper {
   min-width: 950px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   &.double-column {
      flex-direction: row;
   }

   #table-improvements {
      align-self: self-start;
      margin-top: 213px;
      margin-right: 6px;

      .slot {
         width: 125px;
         height: 125px;
         border: 1px solid black;
      }
   }

   #board {
      position: relative;
      background-image: url('img/gametable.jpg');
      background-size: cover;
      width: 720px;
      height: 1036px;
      border-radius: 10px;
      margin-bottom: 170px;

      #table-conforts {
         position: absolute;
         top: 850px;
         left: 234px;
      }

      #table-travelers {
         position: absolute;
         top: 450px;
         left: 92px;
      }

      #table-valleys {
         position: absolute;
         top: 24px;
         left: 44px;
      }

      #river-dial {
         position: absolute;
         width: 120px;
         height: 120px;
         background-image: url(img/river-dial.png);
         background-size: cover;
         top: 265px;
         left: 514px;

         @for $pos from 0 through 5 {
            &[data-position='#{$pos + 1}'] {
               transform: rotate($pos * -60deg);
            }
         }
      }

      #decks {
         display: flex;
         top: 1046px;
         position: absolute;
         right: 0;
         gap: 20px;

         .deck {
            &[data-empty='true'] {
               border: 1px solid black;
               border-radius: 5px;
            }

            .bga-cards_deck-counter {
               --bga-cards-deck-counter-size: 25px;
            }
         }
         #discard-conforts {
            .card:nth-child(1) {
               z-index: 1;
            }
         }
      }
   }
}
