#table-center-wrapper {
   min-width: 900px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   // &.double-column {
   //    flex-direction: row;
   // }

   #table-improvements {
      align-self: self-start;
      margin-top: 213px;
      margin-right: 6px;

      .slot {
         width: 125px;
         height: 125px;
         border: 1px solid black;
      }
   }

   #glade {
      padding-bottom: 20px;
      &:empty {
         padding-bottom: 0;
      }
   }

   #board {
      position: relative;
      background-image: url('img/gametable.jpg');
      background-size: cover;
      width: 720px;
      height: 1036px;
      border-radius: 10px;
      margin-bottom: 170px;

      #table-conforts {
         position: absolute;
         top: 850px;
         left: 234px;

         .slot {
            min-width: 110px;
         }
      }

      #table-travelers {
         position: absolute;
         top: 450px;
         left: 92px;
      }

      #table-valleys {
         position: absolute;
         top: 24px;
         left: 44px;
      }

      #worker-locations {
         position: relative;
         // Placement should be activated
         &.has-selected-location {
            .slot.selectable.selected {
               animation: none !important;
            }
         }
         .slot {
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &.selectable {
               animation: pulseSelectable 1s infinite alternate;
            }

            &.selected {
               box-shadow: 0 0 5px 5px #00ffff;
            }

            .card.worker {
               zoom: 0.75;
               &:nth-child(3),
               &:nth-child(4),
               &:nth-child(5) {
                  margin-top: -35px;
               }
            }
         }

         [data-slot-id='1'] {
            top: 98px;
            left: 85px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 66%, -10% 66%);
         }
         [data-slot-id='2'] {
            top: 98px;
            left: 241px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 66%, -10% 66%);
         }
         [data-slot-id='3'] {
            top: 98px;
            left: 427px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 66%, -10% 66%);
         }
         [data-slot-id='4'] {
            top: 98px;
            left: 583px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 66%, -10% 66%);
         }

         [data-slot-id='5'] {
            top: 202px;
            left: 592px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 120%, -10% 61%);
         }
         [data-slot-id='6'] {
            top: 345px;
            left: 624px;
            clip-path: polygon(50% -10%, 110% -10%, 110% 160%, -10% 80%);
         }
         [data-slot-id='7'] {
            top: 291px;
            left: 438px;
            clip-path: polygon(-10% -10%, 80% -10%, 80% 100%, -10% 150%);
         }

         [data-slot-id='8'] {
            top: 472px;
            left: 462px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 80%, -10% 80%);
         }
         [data-slot-id='9'] {
            top: 576px;
            left: 279px;
            clip-path: polygon(50% -10%, 110% -10%, 110% 160%, -60% 80%);
         }

         [data-slot-id='10'] {
            top: 802px;
            left: 83px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 80%, -10% 80%);
         }
         [data-slot-id='11'] {
            top: 749px;
            left: 295px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 80%, -10% 80%);
         }
         [data-slot-id='12'] {
            top: 749px;
            left: 457px;
            clip-path: polygon(-10% -10%, 110% -10%, 110% 80%, -10% 80%);
         }
      }

      #dice-locations {
         position: relative;
         .slot {
            position: absolute;
            width: 40px;
            height: 40px;
            // background-color: pink;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 5px;
         }

         [data-slot-id='1'] {
            top: 54px;
            left: 55px;
            width: 130px;
         }
         [data-slot-id='2'] {
            top: 54px;
            left: 211px;
            width: 130px;
         }
         [data-slot-id='3'] {
            top: 54px;
            left: 397px;
            width: 130px;
         }
         [data-slot-id='4'] {
            top: 54px;
            left: 553px;
            width: 130px;
         }

         [data-slot-id='5'] {
            top: 220px;
            left: 664px;
         }
         [data-slot-id='6'] {
            top: 400px;
            left: 590px;
         }
         [data-slot-id='7'] {
            top: 306px;
            left: 392px;
         }

         [data-slot-id='8'] {
            top: 479px;
            left: 416px;
         }
         [data-slot-id='9'] {
            top: 590px;
            left: 354px;
         }

         [data-slot-id='10'] {
            top: 755px;
            left: 97px;
         }
         [data-slot-id='11'] {
            top: 702px;
            left: 310px;
         }
         [data-slot-id='12'] {
            top: 702px;
            left: 472px;
         }
      }

      #hill-dice {
         position: absolute;
         top: 227px;
         left: 228px;
         display: flex;
         flex-wrap: wrap;
         width: 76px;
      }

      #river-dial {
         position: absolute;
         width: 120px;
         height: 120px;
         background-image: url(img/river-dial.png);
         background-size: cover;
         top: 265px;
         left: 514px;

         @for $pos from 0 through 5 {
            &[data-position='#{$pos + 1}'] {
               transform: rotate(($pos + 4) * -60deg);
            }
         }
      }

      #decks {
         display: flex;
         justify-content: space-between;
         top: 1046px;
         position: absolute;
         right: 0;
         gap: 20px;
         width: 720px;

         > div {
            display: flex;
            gap: 20px;
         }

         .deck {
            &[data-empty='true'] {
               border: 1px solid black;
               border-radius: 5px;
            }

            .bga-cards_deck-counter {
               --bga-cards-deck-counter-size: 25px;
            }
         }
         #discard-conforts {
            .card:nth-child(1) {
               z-index: 1;
            }
         }
      }
   }

   .bga-dice_die.bga-dice_die6.colored-die {
      zoom: 0.8;
   }
}

.gamestate_placement {
   .slot.selected {
      animation: none !important;
      box-shadow: 0 0 5px 5px orange !important;
   }
}
