#table-center-wrapper {
   min-width: 950px;
   display: flex;
   justify-content: center;
   align-items: center;

   &.double-column {
      flex-direction: row;
   }
}

#table-center-wrapper {
   // display: flex;
   // justify-content: center;
   // padding: 0 30px;

   #table-improvements {
      align-self: self-start;
      margin-top: 213px;
      margin-right: 6px;

      .slot {
         width: 125px;
         height: 125px;
         border: 1px solid black;
      }
   }

   #board {
      position: relative;
      background-image: url('img/gametable.jpg');
      background-size: cover;
      width: 720px;
      height: 1036px;
      border-radius: 10px;

      #table-conforts {
         position: absolute;
         top: 850px;
         left: 234px;
      }

      #table-travelers {
         position: absolute;
         top: 450px;
         left: 92px;
      }

      #table-valleys {
         position: absolute;
         top: 24px;
         left: 44px;
      }

      #river-dial {
         position: absolute;
         width: 120px;
         height: 120px;
         background-image: url(img/river-dial.png);
         background-size: cover;
         top: 265px;
         left: 514px;

         @for $pos from 0 through 5 {
            &[data-position='#{$pos + 1}'] {
               transform: rotate($pos * -60deg);
            }
         }
      }
   }
}
