#traveler-convert {
   background: #f5f5f5;
   margin-left: -5px;
   padding: 5px;
   position: relative;
   width: 100%;
   z-index: 10;
   min-height: 35px;
   display: flex;
   justify-content: center;
   gap: 10px;
   flex-wrap: wrap;

   #traveler-convert-player,
   #traveler-convert-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
   }

   #traveler-convert-player {
      flex-basis: 100%;
   }

   .from,
   .to {
      gap: 5px;
   }

   .wrapper {
      zoom: 1.2;
      display: flex;
      align-items: center;
      border: 1px solid black;
      border-radius: 5px;
      padding: 0 5px;
      user-select: none;
      cursor: pointer;
      align-self: stretch;

      &.disabled {
         cursor: default;
         filter: grayscale(80%);
         filter: opacity(0.2);
      }

      &.no-border {
         border: none;
      }
   }

   .resource-icon {
      height: 32px;

      &[data-type='lesson'] {
         zoom: 0.7;
      }
   }
}
