$yellow: 'dcac28';
$green: '13586b';
$gray: '7e797b';
$red: 'b7313e';
$purple: '650e41';

// $playerColorNames: (
//    $yellow: 'dcac28',
//    $green: '13586b',
//    $gray: '7e797b',
//    $red: 'b7313e',
//    $purple: '650e41',
// );

$playerColorNames: ('yellow', 'green', 'red', 'gray', 'purple');

// @import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-cards/bga-cards';
@import '../node_modules/bga-dice/bga-dice';
@import 'table-center';
@import 'player-panel';
@import 'player-table';
@import 'cards-confort';
@import 'cards-improvement';
@import 'cards-traveler';
@import 'cards-valley';
@import 'dice';
@import 'cottages';
@import 'workers';
@import 'select-resources';

#game_play_area {
   #bga-zoom-wrapper {
      padding-top: 50px;
   }
}

#table {
   display: flex;
   justify-content: center;
   padding-top: 40px;
}

// #bga-zoom-wrapper {
//    padding: 20px 0;
// }

#tables-and-center {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
   flex-wrap: wrap;
   margin-right: 10px;
   width: 100%;

   #tables {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
      // flex-direction: column;
      gap: 20px;
   }

   // &.double-column {
   //    flex-direction: row;
   //    justify-content: center;
   //    align-items: start;

   //    // & > div {
   //    //    flex: 1;
   //    // }
   //    #tables {
   //       flex-direction: row;
   //    }
   // }
}

.bgabutton {
   &.bgabutton_disabled {
      background: #e5e5ef;
      border: 1px solid #9090af;
      box-shadow: none;
      color: #9090af;
      text-shadow: none;
   }
}

.title {
   position: absolute;
   margin: -36px 0 0 0;
   border: 3px solid var(--color);
   border-radius: 5px;
   padding: 3px 10px;
   font-weight: 600;
   background-color: white;
}

.bga-cards_selected-card .front {
   animation: pulseSelectable 1s infinite alternate;
}

.bga-dice_selected-die {
   box-shadow: 0 0 5px 7px #00ffff;
}

@keyframes pulseSelectable {
   0% {
      box-shadow: 0 0 5px 5px #00ffff;
   }

   to {
      box-shadow: 0 0 5px 5px #0885c3;
   }
}

// States
.current_player_is_active {
   .gamestate_startHand {
      #btn_discard {
         display: inline-block;
      }
      #btn_cancel {
         display: none;
      }
   }
}

.gamestate_startHand {
   #btn_discard {
      display: none;
   }
   #btn_cancel {
      display: inline-block;
   }
}
