$yellow: 'dcac28';
$green: '13586b';
$gray: '7e797b';
$red: 'b7313e';
$purple: '650e41';

// $playerColorNames: (
//    $yellow: 'dcac28',
//    $green: '13586b',
//    $gray: '7e797b',
//    $red: 'b7313e',
//    $purple: '650e41',
// );

$playerColorNames: ('yellow', 'green', 'red', 'gray', 'purple');

@import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-cards/bga-cards';
@import '../node_modules/bga-dice/bga-dice';
@import 'table-center';
@import 'table-score';
@import 'player-panel';
@import 'player-table';
@import 'log';
@import 'modal';
@import 'game-options';

@import './managers/cards-confort';
@import './managers/cards-cottage';
@import './managers/cards-improvement';
@import './managers/cards-traveler';
@import './managers/cards-valley';
@import './managers/dice';
@import './managers/workers';

@import './resource-manager/resource-icons';
@import './resource-manager/resource-counter';
@import './resource-manager/resource-placeholder';
@import './resource-manager/resource-manager';
@import './resource-manager/resource-trader';

@import './stocks/discard-stock';

#game_play_area {
   #bga-zoom-wrapper {
      padding-top: 50px;
   }
}

#table {
   display: flex;
   justify-content: center;
   padding-top: 40px;
}

// #bga-zoom-wrapper {
//    padding: 20px 0;
// }

#tables-and-center {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
   flex-wrap: wrap;
   margin-right: 10px;
   width: 100%;

   #tables {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // flex-grow: 1;
      // flex-direction: column;
      gap: 20px;
   }

   // &.double-column {
   //    flex-direction: row;
   //    justify-content: center;
   //    align-items: start;

   //    // & > div {
   //    //    flex: 1;
   //    // }
   //    #tables {
   //       flex-direction: row;
   //    }
   // }
}

.bgabutton {
   &.bgabutton_disabled {
      background: #e5e5ef;
      border: 1px solid #9090af;
      box-shadow: none;
      color: #9090af;
      text-shadow: none;
   }

   .resource-icon {
      display: inline-block;
      vertical-align: middle;
      zoom: 0.8;
   }
}

.bga-cards_selected-card .front {
   animation: pulseSelectable 1s infinite alternate;
}

.bga-dice_selected-die {
   box-shadow: 0 0 5px 7px #00ffff;
}

@keyframes pulseSelectable {
   0% {
      box-shadow: 0 0 5px 5px #00ffff;
   }

   to {
      box-shadow: 0 0 5px 5px #0885c3;
   }
}

// States
.current_player_is_active {
   .gamestate_startHand {
      #btn_discard {
         display: inline-block;
      }
      #btn_cancel {
         display: none;
      }
   }
}

.gamestate_startHand {
   #btn_discard {
      display: none;
   }
   #btn_cancel {
      display: inline-block;
   }
}

#logs {
   .cc-icon {
      display: inline-block;
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
      line-height: 24px;
      vertical-align: middle;
   }

   .i-cards {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 500'%3E%3Cpath fill='darkred' d='M304.5,51.5A60.1,60.1,0,0,0,245,0H61.3A60.2,60.2,0,0,0,1.1,60.1V388.7a60.2,60.2,0,0,0,54.4,59.8A60.1,60.1,0,0,0,115,500H298.7a60.2,60.2,0,0,0,60.2-60.1V111.3A60.2,60.2,0,0,0,304.5,51.5Z'%3E%3C/path%3E%3Cpath fill='white' d='M326.6,111.3V439.9a28,28,0,0,1-27.9,27.9H115a27.9,27.9,0,0,1-26.4-19H245a60.1,60.1,0,0,0,60.1-60.1V84.2A28,28,0,0,1,326.6,111.3ZM245,32.2H61.3A28,28,0,0,0,33.4,60.1V388.7a27.9,27.9,0,0,0,27.9,27.8H245a27.9,27.9,0,0,0,27.9-27.8V60.1A28,28,0,0,0,245,32.2Z'%3E%3C/path%3E%3C/svg%3E");
      color: black;

      span {
         display: block;
         width: 90%;
         font-size: 15px;
         font-weight: 400;
         text-align: center;
      }
   }

   .almanac {
      height: 35px;
      width: 35px;
      display: inline-block;
      vertical-align: middle;
   }
   .wheelbarrow {
      height: 35px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
   }
}

.help-marker {
   position: absolute;
   right: 0;
   top: 0;
   padding: 2px;
   cursor: zoom-in !important;
   pointer-events: initial !important;
   user-select: initial !important;
   font-size: 20px;
}

@media screen and (min-width: 2033px) {
   #tables-and-center {
      display: grid;
      grid-template-areas:
         'board player'
         'board players';
      grid-template-rows: 0fr 1fr;

      #current-player-table {
         grid-area: player;
      }

      #table-center-wrapper {
         grid-area: board;
      }

      #tables {
         grid-area: players;
      }
   }
}

.resource-container {
   padding: 10px 0;
}

#pagemaintitletext {
   .resource-icon {
      display: inline-block;
      vertical-align: middle;
   }
}

.cc-toolbar {
   padding: 5px 0;
}

#resource_manager_wild-turkey {
   display: flex;
   justify-content: center;
   gap: 10px;
   --size: 40px;
   .bga-dice_die-face {
      width: 40px;
      height: 40px;
      border-radius: 12%;
   }

   .selected {
      box-shadow: 0 0 3px 3px #00ffff;
   }
   .disabled {
      opacity: 0.2;
   }
}

.i-heart {
   background-image: url("img/heart.png");
   background-size: 25px 20px;
   background-repeat: no-repeat;
   width: 25px;
   height: 20px;
   display: inline-flex;
   justify-content: center;
   align-items: center;

   span {
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
   }
}
